<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset("css/style.css")}}">

    </head>
    <body>
        <header>
            {% block header %}
                <section>
                    <img src="{{asset ('img/Logo.png')}}" alt="Logo de Kids-Learning">
                    <nav>
                        <ul>
                            <li><a href="{{path ('app_home')}}">Accueil</a></li>
                            <li><a href="{{path ('app_cours')}}">Cours</a></li>
                            <li><a href="{{path ('app_ressources')}}">Ressources</a></li>
                            <li><a href="{{path ('app_contact')}}">Contact</a></li>
                        </ul>
                    </nav>
                </section>
                <div class="orangeline"></div>
            {% endblock %}
        </header>
        <main>
            {% block main %}
                <p>Y a rien à voir ici</p>
            {% endblock %}
        </main>
        <footer>   
            {% block footer %}
                <img src="{{asset ('img/Logo.png')}}" alt="Logo de Kids-Learning">
                <p>Nous sommes ici pour répondre à vos questions et inquiétudes.</p>
                <p>info@kids-learning.fr</p>
                <p>01 23 45 67 89</p>
                <a href="">Formulaire de contact</a>
                <div class="line"></div>
                <p class="copy">&copy 2023 Kids Learning. Tous droits réservés.</p>
            {% endblock %}  
        </footer>   
    </body>
</html>
